.modalnewtodo .ant-modal-body 
{
    display: flex;
    gap: 10px;
}
.modalnewtodo .ant-modal-content 
{
    border-radius: 40px !important;
}
.modalnewtodo input 
{
    border-radius: 40px !important;
}


/* style button modal */
.buttonmodalcontainer
{
    display: flex;
    gap: 5px;
}
.buttonmodalcontainer button 
{
    border-radius: 10px ;
    border: none !important;
}
.buttonmodalcontainer .cancelbutton
{
    background-color:#ffcccc;
    color:#ff4d4f
}
.buttonmodalcontainer .donebutton
{
        color: #339999;
    background-color:#ccffff

}